<div class="container__big-card">
  <div class="big-card__photo">
    <img 
     src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/7F51FA9F6CBD9F0C9B1394B1CC0A6A842D07091318674E234CD33CBF7C28CDC3/scale?width=1200&aspectRatio=1.78&format=jpeg"
     alt=""
     height="200px"
    >
  </div>

  <div class="big-card__title">
    <h1> <a href="#">Treinando com Angular</a></h1>
  </div>

  <div class="big-card__description">
    <p>
      <a href="#">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores at neque officia odit! Eveniet ad illum quisquam assumenda, totam quod molestias quaerat quos laborum earum, laboriosam, sed ipsum impedit perferendis.
    </a>  
    </p>
  </div>
</div>