<div class="container__big-card">
  <div class="big-card__photo">
    <img 
     src="https://i.stack.imgur.com/luaq2.png"
     alt=""
     height="200px"
    >
  </div>

  <div class="big-card__title">
    <h1> <a href="#">Treinando com Angular</a></h1>
  </div>

  <div class="big-card__description">
    <p>
      <a href="#">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores at neque officia odit! Eveniet ad illum quisquam assumenda, totam quod molestias quaerat quos laborum earum, laboriosam, sed ipsum impedit perferendis.
    </a>  
    </p>
  </div>
</div>